DATABASE_URL="postgresql://user:password@localhost:5432/taskify?schema=public"
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_SECRET=
FRONTEND_URL=http://localhost:3000
